.navbar {
    
    background-position: center;
    background-repeat: no-repeat;
    
    
    margin: 0;
    padding: 0;
    position: relative;
}


.body {
    background-image: url(../img/memberspagebackground.png);
    background-repeat: no-repeat;
    max-width: 100%;
    background-clip: border-box;
    height: auto;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logout {
    background-color: red;
}