html{
    background-color: #dc3545;
    margin: 0 !important;
}
.red {
    background-color: #dc3545;
    margin: 0;
    margin-top: 0;
    padding-top: 30px;
}
.row {
    margin: 0;
}
.tan {
    background-color:rgb(248, 248, 248);
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    padding-top: 25px;
    margin-bottom: 900px;
    border-radius: 25px;
}
.jumbotron {
    margin: 0 !important;
    /* background-color: rgb(248, 248, 248) !important; */
    background-image: url(../imgs/Pokemon-The-First-Movie-HD-Wallpaper-Background-Image-.png);
    background-size: cover;
    width: 100vw;
}
.card {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-color: slategrey;
    text-align: center !important;
    border-radius: 25px;
}

h2 {
    color: #dc3545;
}
nav {
    width: 100vw;
}
