.red {
    height: 100%;
    width: 100%;
    background-color: #dc3545;
}
.tan {
    background-color: rgb(248, 248, 248);
    margin-left: 75px;
    margin-top: 30px;
    padding-top: 25px;
    border-radius: 25px;
}
.jumbotron {
    margin: 0 !important;
    background-color: rgb(248, 248, 248) !important;
}
img {
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}