body {
    background-image: url(../img/Minimalist-pokemon-go-pokeball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
    
}

.navbar {
    background-image: url(../img/signup.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    background-color: #C12026;
    margin: 0;
    padding: 0;
    position: relative;
    
}

.pikachu {
    float: right;
    margin: auto;
    position: relative;
    top: 130px;
    
}

.jigglypuff {
    position: relative;
    top: 130px;
    height: 450px;
    margin-left: 70px;
}