.body {
    background-image: url(../img/pokemon-ruby.gif);
    background-repeat: no-repeat;
    background-position: inherit;
    margin: auto;
    background-size: cover;
    background-clip: border-box;
    
    
}

.navbar {
    background-image: url(../img//pokemon-ruby.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    background-color: #C12026;
    margin: 0;
    padding: 0;
    position: relative;
    
}

.signup {
    margin-top: 200px;
}