
.red {
    height: 100vh;
    width: 100vw;
    background-color: rgba(220, 20, 20, 0.938);
}
h1{
    margin-top: 20px;
}

.background {
    background-color: black;
    height: 300px;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.sidebar {
    background-color: blanchedalmond;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}